<div class="resort-container">
	<!-- <div class="resort-img">
		<img src="../../assets/photos/VuLugP_ls8.jpg" alt="">
	</div> -->
	<div class="background-img"></div>
	<div class="opacity-div"></div>
	<div class="panel-container">
		<h1>Select your favorite mountain</h1>
		<br>
		<!-- Panel Cards -->
		<div class="panel-cards">
			<div class="panel panel-primary">
			  <div class="panel-heading">
				 <h3 class="panel-title">California</h3>
			  </div>
			  <div class="panel-body">
				  	 <a ui-sref="#">Alpine Meadows - X</a>
					 <br>
				    <a ui-sref="#">Bear Valley - X</a>
					 <br>
					 <a ui-sref="#">Dodge Ridge - X</a>
					 <br>
					 <a ui-sref="#">Heavenly - X</a>
					 <br>
					 <a ui-sref="#">Homewood Mountain - X</a>
					 <br>
					 <a ui-sref="#">Kirkwood - X</a>
					 <br>
					 <a ui-sref="#">Mammoth Mountain - X</a>
					 <br>
					 <a ui-sref="#">Mountain High - X</a>
					 <br>
					 <a ui-sref="#">Mt. Baldy - X</a>
					 <br>
					 <a ui-sref="#">Northstar - X</a>
					 <br>
					 <a ui-sref="#">Sierra-at-Tahoe - X</a>
					 <br>
					 <a ui-sref="#">Squaw Valley - X</a>
					 <br>
					 <a ui-sref="#">Sugar Bowl - X</a>
			  </div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Colorado</h3>
				</div>
				<div class="panel-body">
						<a id="resort-link" ui-sref="a-basin">Arapahoe Basin</a>
						<br>
						<a ui-sref="#">Aspen - X</a>
						<br>
						<a ui-sref="#">Beaver Creek - X</a>
						<br>
						<a ui-sref="#">Breckenridge - X</a>
						<br>
						<a ui-sref="#">Buttermilk - X</a>
						<br>
						<a ui-sref="#">Copper Mountain - X</a>
						<br>
						<a ui-sref="#">Eldora Mountain - X</a>
						<br>
						<a ui-sref="#">Keystone - X</a>
						<br>
						<a ui-sref="#">Loveland - X</a>
						<br>
						<a ui-sref="#">Monarch Mountain - X</a>
						<br>
						<a ui-sref="#">Powderhorn - X</a>
						<br>
						<a ui-sref="#">Purgatory - X</a>
						<br>
						<a ui-sref="#">Steamboat Springs - X</a>
						<br>
						<a ui-sref="#">Telluride - X</a>
						<br>
						<a ui-sref="vail">Vail</a>
						<br>
						<a ui-sref="#">Winter Park - X</a>
				</div>
			</div>
			<div class="panel panel-primary">
			  <div class="panel-heading">
				 <h3 class="panel-title">Utah</h3>
			  </div>
			  <div class="panel-body">
					 <a ui-sref="alta">Alta</a>
					 <br>
					 <a ui-sref="brianhead">Brian Head</a>
					 <br>
					 <a ui-sref="brighton">Brighton</a>
					 <br>
					 <a ui-sref="deervalley">Deer Valley</a>
					 <br>
					 <a ui-sref="eaglepoint">Eagle Point</a>
					 <br>
					 <a ui-sref="nordicvalley">Nordic Valley</a>
					 <br>
					 <a ui-sref="parkcity">Park City</a>
					 <br>
					 <a ui-sref="powdermountain">Powder Mountain - X</a>
					 <br>
					 <a ui-sref="snowbasin">Snowbasin - X</a>
					 <br>
					 <a ui-sref="snowbird">Snowbird</a>
					 <br>
					 <a ui-sref="solitude">Solitude - X</a>
					 <br>
					 <a ui-sref="sundance">Sundance - X</a>
			  </div>
			</div>
		</div>

		<div class="panel-swe">
			<div class="panel panel-primary">
			  <div class="panel-heading">
				 <h3 class="panel-title">Sweden</h3>
			  </div>
			  <div class="panel-body">
					 <a ui-sref="klappen">Kläppen Ski Resort</a>
			  </div>
			</div>
		</div>

	</div>
	<!-- <div class="space-taker"></div> -->
</div>
