<div class="resort-container">
	<!-- <div class="resort-img">
		<img src="../../assets/photos/VuLugP_ls8.jpg" alt="">
	</div> -->
	<div class="background-img"></div>
	<div class="opacity-div"></div>
	<div class="panel-container">
		<show-time></show-time>
		<h1>Select your favorite mountain</h1>
		<br>
		<!-- Panel Cards -->
		<div class="panel-cards">
			<div class="panel panel-primary">
			  <div class="panel-heading">
				 <h3 class="panel-title">California</h3>
			  </div>
			  <div class="panel-body">
				  <ol>
				    <li><a ui-sref="alpinemeadows">Alpine Meadows</a></li>
					 <br>
				    <li><a ui-sref="bearvalley">Bear Valley</a></li>
					 <br>
					 <li><a ui-sref="dodgeridge">Dodge Ridge</a></li>
					 <br>
					 <li><a ui-sref="heavenly">Heavenly</a></li>
					 <br>
					 <li><a ui-sref="homewood">Homewood Mountain</a></li>
					 <br>
					 <li><a ui-sref="kirkwood">Kirkwood</a></li>
					 <br>
					 <li><a ui-sref="mammoth">Mammoth Mountain</a></li>
					 <br>
					 <li><a ui-sref="mountainhigh">Mountain High</a></li>
					 <br>
					 <li><a ui-sref="mtbaldy">Mt. Baldy</a></li>
					 <br>
					 <li><a ui-sref="northstar">Northstar</a></li>
					 <br>
					 <li><a ui-sref="sierra">Sierra-at-Tahoe</a></li>
					 <br>
					 <li><a ui-sref="squawvalley">Squaw Valley</a></li>
					 <br>
					 <li><a ui-sref="sugarbowl">Sugar Bowl</a></li>
				 </ol>
			  </div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Colorado</h3>
				</div>
				<div class="panel-body">
					<ol>
						<li><a id="resort-link" ui-sref="a-basin">Arapahoe Basin</a></li>
						<br>
						<li><a ui-sref="aspen">Aspen</a></li>
						<br>
						<li><a ui-sref="beavercreek">Beaver Creek</a></li>
						<br>
						<li><a ui-sref="breckenridge">Breckenridge</a></li>
						<br>
						<li><a ui-sref="buttermilk">Buttermilk</a></li>
						<br>
						<li><a ui-sref="coppermountain">Copper Mountain</a></li>
						<br>
						<li><a ui-sref="eldora">Eldora</a></li>
						<br>
						<li><a ui-sref="keystone">Keystone</a></li>
						<br>
						<li><a ui-sref="loveland">Loveland</a></li>
						<br>
						<li><a ui-sref="monarch">Monarch Mountain</a></li>
						<br>
						<li><a ui-sref="powderhorn">Powderhorn</a></li>
						<br>
						<li><a ui-sref="purgatory">Purgatory</a></li>
						<br>
						<li><a ui-sref="steamboatsprings">Steamboat Springs</a></li>
						<br>
						<li><a ui-sref="telluride">Telluride</a></li>
						<br>
						<li><a ui-sref="vail">Vail</a></li>
						<br>
						<li><a ui-sref="winterpark">Winter Park</a></li>
					</ol>
				</div>
			</div>
			<div class="panel panel-primary">
			  <div class="panel-heading">
				 <h3 class="panel-title">Utah</h3>
			  </div>
			  <div class="panel-body">
				  <ol>
				  	 <li><a ui-sref="alta">Alta</a></li>
					 <br>
					 <li><a ui-sref="brianhead">Brian Head</a></li>
					 <br>
					 <li><a ui-sref="brighton">Brighton</a></li>
					 <br>
					 <li><a ui-sref="deervalley">Deer Valley</a></li>
					 <br>
					 <li><a ui-sref="eaglepoint">Eagle Point</a></li>
					 <br>
					 <li><a ui-sref="nordicvalley">Nordic Valley</a></li>
					 <br>
					 <li><a ui-sref="parkcity">Park City</a></li>
					 <br>
					 <li><a ui-sref="powdermountain">Powder Mountain</a></li>
					 <br>
					 <li><a ui-sref="snowbasin">Snowbasin</a></li>
					 <br>
					 <li><a ui-sref="snowbird">Snowbird</a></li>
					 <br>
					 <li><a ui-sref="solitude">Solitude</a></li>
					 <br>
					 <li><a ui-sref="sundance">Sundance </a></li>
				  </ol>
			  </div>
			</div>
		</div>

		<div class="panel-swe">
			<div class="panel panel-primary">
			  <div class="panel-heading">
				 <h3 class="panel-title">Sweden</h3>
			  </div>
			  <div class="panel-body">
				  <ol>
					<li><a ui-sref="klappen">Kläppen Ski Resort</a></li>				  	
				  </ol>
			  </div>
			</div>
		</div>

	</div>
	<div class="carousel-div">
		<carousel-dir></carousel-dir>
	</div>
	<!-- <div class="space-taker"></div> -->
</div>
